VITE_ATLAS_USER = "JuanDiego"
VITE_ATLAS_PASSWORD = "contraseña"
VITE_ATLAS_DB = "db_incidentsCampus"
JWT_PRIVATE_KEY = 'contra'

VITE_PORT_FRONTEND = 5166
VITE_PORT_BACKEND = 5167
VITE_HOSTNAME = "192.168.129.72"
# VITE_HOSTNAME = "localhost"
